@import 'variables';

.ripple {
  position: relative;
  overflow: hidden;
}

.ripple-ink {
  display: block;
  position: absolute;
  background-color: $ripple-effect-color;
  border-radius: 50%;
  transform: scale(0);

  &_animate {
    animation-name: ripple;
    animation-duration: $ripple-effect-time;
  }
}

@keyframes ripple {
  0% {
    opacity: $ripple-effect-initial-opacity;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale($ripple-effect-scale);
  }
}
